/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: white;
  /* Assuming you want light text on a dark background */
}

/* Container for the two sections */
.container {
  display: flex;
  height: 100vh;
  /* Full viewport height */
}

.vertical-container {
  display: flex;
  flex-direction: column;
  /* Display children in a column (vertical) */
  height: 100vh;
}

.top-section {
  flex: 1;
  /* Take up 50% of the available height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Just for visualization */
}

.bottom-section {
  flex: 1;
  /* Take up 50% of the available height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Just for visualization */
}

/* Left and Right Sections */
.section {
  flex: 1;
  /* Each section takes up half of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Additional styling for the globe component */
.globe-section {
  /* You can add specific styles for the globe section here, if needed */
}

/* Additional styling for the other component */
.other-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Specific styles for the other section */
}

.color-scale {
  position: absolute;
  top: 20px;
  /* Adjust the top position as needed */
  left: 20px;
  /* Adjust the left position as needed */
  /* width: 600px; */
  /* Adjust the width of the color scale */
  height: 30px;
  /* background-color: white */
  /* Adjust the height of the color scale */
  /* background: linear-gradient(to right, #000, #333, #666, #999, #ccc, #eee); */
  /* Greyscale colors */
}